<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />  
    <title>PRUEBA44</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
    <link rel="stylesheet" type="text/css" href="./style.css" />
  </head>
  <body>
    {{{body}}}
    <h1>Tabla </h1>
<ul>
    {{#each TablaPeriodica}}
    <li> class={{this.Group}}>{{this.Element}}</li>
    {{/each}}
</ul>
  </body>
</html>