<h1>Tabla Periodica</h1>

<h2>Liste of my most loved League champions</h2>
<ul>
  <li class="midlaner">Leblanc</li>
  <li class="midlaner">Lux</li>
  <li class="toplaner">Teemo</li>
  <li class="midlaner">Kassadin</li>
  <li class="toplaner">Jarvan IV</li>
</ul>

<ul class="Tabla Periodica">
    {{#each TablaPeriodica}}
    <li> class={{this.Group}}>{{this.Element}}</li>
    {{/each}}
</ul>

<p>{{TablaPeriodica}}</p>